body {
  background-color: #dee8f7;
  font-family: "Roboto", sans-serif;
}

hr {
  color: #dee8f7;
  border-top: 4px solid #dee8f7;
}

h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
}
ul {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

li {
  list-style: none;
  color: grey;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather_app {
  max-width: 780px;
  margin: 60px auto;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 60px;
}

.humidity {
  color: #115c9e;
  font-weight: 600;
}
.wind_speed {
  color: #115c9e;
  font-weight: 600;
}
.weather_temp img {
  height: 120px;
  width: 120px;
  position: relative;
  top: 43px;
  left: -10px;
}
.weather_temp strong {
  font-size: 75px;
  font-weight: 400;
  position: relative;
  top: 50px;
  left: -10px;
}
.weather_temp .unit_celsius {
  font-size: 25px;
  font-weight: 300;
  position: relative;
  top: 65px;
  left: 0px;
  text-decoration: none;
}

.weather_temp .active {
  cursor: default;
  color: black;
  text-decoration: none;
}

.weather_temp .unit_fahrenheit {
  font-size: 25px;
  font-weight: 300;
  position: relative;
  top: 65px;
  left: 8px;
  text-decoration: none;
}
.weather_temp .separator {
  font-size: 25px;
  font-weight: 300;
  position: relative;
  top: 65px;
  left: 5px;
}
.footer {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.form-control {
  background-color: #dee8f7;
  border-color: #dee8f7;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
}
.btn {
  line-height: 35px;
  width: 150px;
}

.search_bar {
  display: flex;
  justify-content: center;
}
.weather_information {
  padding-left: 40px;
}

.weather_forecast {
  text-align: center;
  margin-left: -35px;
  margin-top: 30px;
}

.weather_forecast_temperature_max {
  color: #115c9e;
  font-weight: 600;
}

.weather_forecast_temperature_min {
  color: #8bd0f8;
  font-weight: 600;
}

.weather_forecast_day {
  font-size: 16px;
  font-weight: 500;
}
